In [1]:
#using python 3.8.10
#imports 
import pandas as pd
from datetime import datetime
import csv
import numpy as np

#here we are reading in our criminal data
PII_hearttable = pd.read_csv('data/dev_sample_HeartTable_10_17_2022.csv')
acxioim_df = pd.read_csv("data/out/acxiom_demo_cleaned_v1.csv")
agr_df = pd.read_csv("data/out/agr_demo_cleaned_v1.csv")
appriss_df = pd.read_csv("data/out/appriss_crime_cleaned_CFconfidenceapplied_v2.csv")

In [2]:
# if the coulumn 'source_id' contains the substring "agr" then the class is 1 else 2
PII_hearttable['is_suicide'] = np.where(PII_hearttable['source_id'].str.contains('agr'), 0, 1)

# cut down PII_hearttable to only the columns we need
PII_hearttable = PII_hearttable[['source_id', 'is_suicide']]

In [3]:
# print all the columns with the same 'source_id'
appriss_df[appriss_df.duplicated(subset=['source_id'], keep=False)]

Empty DataFrame
Columns: [source_id, 999, 1099, 1199, 1299, 1399, 2099, 3806, 5299, 5401, 2299, 2399, 2411, 2589, 2604, 2699, 2799, 2899, 3605, 5104, 1316, 3704, 3802, 3805, 4004, 4999, 5011, 5012, 5013, 399, 2303, 2999, 3599, 3899, 4199, 4801, 4803, 4899, 5003, 5005, 5006, 5007, 5015, 5099, 5311, 5399, 5499, 5599, 5707, 5799, 7399, tier_1, tier_2, tier_3, tier_4, CDCcat_A, CDCcat_B, CDCcat_C, CDCcat_D, CDCcat_E, HasCriminalRecord, 999_HasCrime, 1099_HasCrime, 1199_HasCrime, 1299_HasCrime, 1399_HasCrime, 2099_HasCrime, 3806_HasCrime, 5299_HasCrime, 5401_HasCrime, 2299_HasCrime, 2399_HasCrime, 2411_HasCrime, 2589_HasCrime, 2604_HasCrime, 2699_HasCrime, 2799_HasCrime, 2899_HasCrime, 3605_HasCrime, 5104_HasCrime, 1316_HasCrime, 3704_HasCrime, 3802_HasCrime, 3805_HasCrime, 4004_HasCrime, 4999_HasCrime, 5011_HasCrime, 5012_HasCrime, 5013_HasCrime, 399_HasCrime, 2303_HasCrime, 2999_HasCrime, 3599_HasCrime, 3899_HasCrime, 4199_HasCrime, 4801_HasCrime, 4803_HasCrime, 4899_HasCrime, 5003_HasCrime, 5005_HasCrime, ...]
Index: []

[0 rows x 120 columns]

In [4]:
new_columns = {}
for col in appriss_df.columns:
    if col != 'source_id':
        new_columns[col] = col + '_appriss'

# use the rename method to rename the columns
appriss_df = appriss_df.rename(columns=new_columns)

# combine acxioim_df and PII_hearttable on column 'source_id'
data_to_model_v1 = pd.merge(PII_hearttable, appriss_df, on='source_id', how='left')

data_to_model_v1 = data_to_model_v1.fillna(0)

In [5]:
# convert all columns in dataframe to type in besides column 'source_id' 
for col in data_to_model_v1.columns:
    if col != 'source_id':
        data_to_model_v1[col] = data_to_model_v1[col].astype(int)
data_to_model_v1.dtypes

source_id                    object
is_suicide                    int32
999_appriss                   int32
1099_appriss                  int32
1199_appriss                  int32
                              ...
CDCcat_A_HasCrime_appriss     int32
CDCcat_B_HasCrime_appriss     int32
CDCcat_C_HasCrime_appriss     int32
CDCcat_D_HasCrime_appriss     int32
CDCcat_E_HasCrime_appriss     int32
Length: 121, dtype: object

In [6]:
# print all the columns with the same 'source_id'
acxioim_df[acxioim_df.duplicated(subset=['source_id'], keep=False)]

,source_id,Single Parent,Senior Adult in Household,Young Adult in Household,Education - 1st Person in Household - 100%,Guns and Ammunition,Hunting,Underbanked,Economic Stability Indicator,Population Density,...,Generations in Household_2.0,Generations in Household_3.0,Marital Status in the Household - 100%_A,Marital Status in the Household - 100%_B,Marital Status in the Household - 100%_M,Marital Status in the Household - 100%_S,Presence of Children - 100%_N,Presence of Children - 100%_Y,Home Owner / Renter - 100%_O,Home Owner / Renter - 100%_R
19481,4407_(medical_source)index_2310,0.0,0,0,1.0,0.0,0.0,1,9,1.0,...,0,0,0,1,0,0,1,0,1,0
19482,4407_(medical_source)index_2310,0.0,0,0,1.0,0.0,0.0,1,9,1.0,...,0,0,0,1,0,0,1,0,1,0
19483,4408_(medical_source)index_6634,0.0,0,0,1.0,0.0,0.0,1,9,1.0,...,0,0,0,1,0,0,1,0,1,0
19484,4408_(medical_source)index_6634,0.0,0,0,1.0,0.0,0.0,1,9,1.0,...,0,0,0,1,0,0,1,0,1,0

In [7]:
acxioim_df = acxioim_df.drop_duplicates(subset=['source_id'], keep='first')

# to all the columns in acxioim_df besides 'source_id' add to them '_acxiom' in the column name
# create a dictionary to map the old column names to the new ones
new_columns = {}
for col in acxioim_df.columns:
    if col != 'source_id':
        new_columns[col] = col + '_acxiom'

# use the rename method to rename the columns
acxioim_df = acxioim_df.rename(columns=new_columns)

# combine acxioim_df and PII_hearttable on column 'source_id'
data_to_model_v1 = pd.merge(data_to_model_v1, acxioim_df, on='source_id', how='left')

In [8]:
for col in data_to_model_v1.columns:
    print(data_to_model_v1[col].dtype)

object
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
int32
float64
int64
int64
float64
float64
float64
int64
int64
float64
float64
float64
float64
float64
object
float64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64

In [9]:
# print all the columns with the same 'source_id'
agr_df[agr_df.duplicated(subset=['source_id'], keep=False)]

,source_id,VACANT,NO STAT,RESIDENTIAL,DEMO_VETERAN PRESENT IN HH,MULTIPLE PROPERTIES COUNT,BANKRUPCY,DUI,SEX OFFENDER,DIGITAL FLAG,...,OWNER OCCUPIED STATUS_N,OWNER OCCUPIED STATUS_R,OWNER OCCUPIED STATUS_Y,OWNER STATUS TYPE_I,OWNER STATUS TYPE_O,OWNER STATUS TYPE_P,OWNER STATUS TYPE_T,PROPERTY TYPE DESC_A,PROPERTY TYPE DESC_C,PROPERTY TYPE DESC_R
8951,4407_(medical_source)index_2310,0.0,1.0,1,0.0,NaN,0.0,0.0,0.0,NaN,...,0,0,0,0,0,0,0,0,0,0
8952,4408_(medical_source)index_6634,0.0,1.0,1,0.0,NaN,0.0,0.0,0.0,NaN,...,0,0,0,0,0,0,0,0,0,0
8954,4407_(medical_source)index_2310,0.0,1.0,1,0.0,NaN,0.0,0.0,0.0,NaN,...,0,0,0,0,0,0,0,0,0,0
8955,4408_(medical_source)index_6634,0.0,1.0,1,0.0,NaN,0.0,0.0,0.0,NaN,...,0,0,0,0,0,0,0,0,0,0

In [10]:
agr_df = agr_df.drop_duplicates(subset=['source_id'], keep='first')
new_columns = {}
for col in agr_df.columns:
    if col != 'source_id':
        new_columns[col] = col + '_agr'

# use the rename method to rename the columns
agr_df = agr_df.rename(columns=new_columns)

# combine acxioim_df and PII_hearttable on column 'source_id'
data_to_model_v1 = pd.merge(data_to_model_v1, agr_df, on='source_id', how='left')

In [11]:
# for the column 'Suppression - Deceased, Bankruptcy, TLJ - Highest_acxiom' convert the values to 0 and 1
# if the value is 'Y' then the value is 1 else 0
data_to_model_v1['Suppression - Deceased, Bankruptcy, TLJ - Highest_acxiom'] = np.where(data_to_model_v1['Suppression - Deceased, Bankruptcy, TLJ - Highest_acxiom'] == 'Y', 1, 0)

# for the 'DIGITAL FLAG_agr' column convert the values to 0 and 1
# if the value is 'Y' then the value is 1 else 0
data_to_model_v1['DIGITAL FLAG_agr'] = np.where(data_to_model_v1['DIGITAL FLAG_agr'] == 'Y', 1, 0)

# for column 'Single Parent_acxiom' convert to a int
data_to_model_v1['Single Parent_acxiom'] = data_to_model_v1['Single Parent_acxiom'].astype(int)

# for column 'Guns and Ammunition_acxiom' convert to a int
data_to_model_v1['Guns and Ammunition_acxiom'] = data_to_model_v1['Guns and Ammunition_acxiom'].astype(int)

# for column 'MULTIPLE PROPERTIES COUNT_agr' turn all nan values to 0
data_to_model_v1['MULTIPLE PROPERTIES COUNT_agr'] = data_to_model_v1['MULTIPLE PROPERTIES COUNT_agr'].fillna(0)

# for column 'Hunting_acxiom' convert to a int
data_to_model_v1['Hunting_acxiom'] = data_to_model_v1['Hunting_acxiom'].astype(int)

# for the columns 'VACANT_agr','NO STAT_agr', 'RESIDENTIAL_agr', 'DEMO_VETERAN PRESENT IN HH_agr' convert to a int
data_to_model_v1['VACANT_agr'] = data_to_model_v1['VACANT_agr'].astype(int)
data_to_model_v1['NO STAT_agr'] = data_to_model_v1['NO STAT_agr'].astype(int)
data_to_model_v1['RESIDENTIAL_agr'] = data_to_model_v1['RESIDENTIAL_agr'].astype(int)
data_to_model_v1['DEMO_VETERAN PRESENT IN HH_agr'] = data_to_model_v1['DEMO_VETERAN PRESENT IN HH_agr'].astype(int)

# for the columns 'BANKRUPCY_agr', 'DUI_agr', 'SEX OFFENDER_agr' convert to a int
data_to_model_v1['BANKRUPCY_agr'] = data_to_model_v1['BANKRUPCY_agr'].astype(int)
data_to_model_v1['DUI_agr'] = data_to_model_v1['DUI_agr'].astype(int)
data_to_model_v1['SEX OFFENDER_agr'] = data_to_model_v1['SEX OFFENDER_agr'].astype(int)

In [12]:
# create a new subset of the dataframe with only the columns we want
# if the column's type is float64 then add it to new dataframe else skip it
data_to_model_v2 = pd.DataFrame()
for col in data_to_model_v1.columns:
    if data_to_model_v1[col].dtype == 'float64':
        data_to_model_v2[col] = data_to_model_v1[col]

In [13]:
# for every column if the values present are only 1 and 0 then convert the column to type boolean
for col in data_to_model_v1.columns:
    # print(data_to_model_v1[col].dtype)
    if data_to_model_v1[col].dtype == 'int64' or data_to_model_v1[col].dtype == 'float64' or data_to_model_v1[col].dtype == 'int32':
        # with nice formatting print column name and the number of unique values
        # print(f'{col:50} {data_to_model_v1[col].nunique()}')
        if data_to_model_v1[col].nunique() == 2:
            data_to_model_v1[col] = data_to_model_v1[col].astype('bool')

In [14]:
for col in data_to_model_v1.columns:
    # print with nice formating the column name and the type of the column
    print(f'{col:30} {data_to_model_v1[col].dtype}')

source_id                      object
is_suicide                     bool
999_appriss                    int32
1099_appriss                   int32
1199_appriss                   int32
1299_appriss                   int32
1399_appriss                   int32
2099_appriss                   int32
3806_appriss                   int32
5299_appriss                   int32
5401_appriss                   int32
2299_appriss                   int32
2399_appriss                   int32
2411_appriss                   int32
2589_appriss                   int32
2604_appriss                   int32
2699_appriss                   int32
2799_appriss                   int32
2899_appriss                   int32
3605_appriss                   int32
5104_appriss                   bool
1316_appriss                   int32
3704_appriss                   int32
3802_appriss                   int32
3805_appriss                   int32
4004_appriss                   int32
4999_appriss                   int32
5011_appriss                   int32
5012_appriss                   int32
5013_appriss                   int32
399_appriss                    bool
2303_appriss                   int32
2999_appriss                   int32
3599_appriss                   int32
3899_appriss                   int32
4199_appriss                   int32
4801_appriss                   int32
4803_appriss                   int32
4899_appriss                   int32
5003_appriss                   bool
5005_appriss                   int32
5006_appriss                   int32
5007_appriss                   int32
5015_appriss                   int32
5099_appriss                   int32
5311_appriss                   int32
5399_appriss                   int32
5499_appriss                   int32
5599_appriss                   int32
5707_appriss                   int32
5799_appriss                   bool
7399_appriss                   int32
tier_1_appriss                 int32
tier_2_appriss                 int32
tier_3_appriss                 int32
tier_4_appriss                 int32
CDCcat_A_appriss               int32
CDCcat_B_appriss               int32
CDCcat_C_appriss               int32
CDCcat_D_appriss               int32
CDCcat_E_appriss               int32
HasCriminalRecord_appriss      bool
999_HasCrime_appriss           bool
1099_HasCrime_appriss          bool
1199_HasCrime_appriss          bool
1299_HasCrime_appriss          bool
1399_HasCrime_appriss          bool
2099_HasCrime_appriss          bool
3806_HasCrime_appriss          bool
5299_HasCrime_appriss          bool
5401_HasCrime_appriss          bool
2299_HasCrime_appriss          bool
2399_HasCrime_appriss          bool
2411_HasCrime_appriss          bool
2589_HasCrime_appriss          bool
2604_HasCrime_appriss          bool
2699_HasCrime_appriss          bool
2799_HasCrime_appriss          bool
2899_HasCrime_appriss          bool
3605_HasCrime_appriss          bool
5104_HasCrime_appriss          bool
1316_HasCrime_appriss          bool
3704_HasCrime_appriss          bool
3802_HasCrime_appriss          bool
3805_HasCrime_appriss          bool
4004_HasCrime_appriss          bool
4999_HasCrime_appriss          bool
5011_HasCrime_appriss          bool
5012_HasCrime_appriss          bool
5013_HasCrime_appriss          bool
399_HasCrime_appriss           bool
2303_HasCrime_appriss          bool
2999_HasCrime_appriss          bool
3599_HasCrime_appriss          bool
3899_HasCrime_appriss          bool
4199_HasCrime_appriss          bool
4801_HasCrime_appriss          bool
4803_HasCrime_appriss          bool
4899_HasCrime_appriss          bool
5003_HasCrime_appriss          bool
5005_HasCrime_appriss          bool
5006_HasCrime_appriss          bool
5007_HasCrime_appriss          bool
5015_HasCrime_appriss          bool
5099_HasCrime_appriss          bool
5311_HasCrime_appriss          bool
5399_HasCrime_appriss          bool
5499_HasCrime_appriss          bool
5599_HasCrime_appriss          bool
5707_HasCrime_appriss          bool
5799_HasCrime_appriss          bool
7399_HasCrime_appriss          bool
tier_1_HasCrime_appriss        bool
tier_2_HasCrime_appriss        bool
tier_3_HasCrime_appriss        bool
tier_4_HasCrime_appriss        bool
CDCcat_A_HasCrime_appriss      bool
CDCcat_B_HasCrime_appriss      bool
CDCcat_C_HasCrime_appriss      bool
CDCcat_D_HasCrime_appriss      bool
CDCcat_E_HasCrime_appriss      bool
Single Parent_acxiom           bool
Senior Adult in Household_acxiom bool
Young Adult in Household_acxiom bool
Education - 1st Person in Household - 100%_acxiom float64
Guns and Ammunition_acxiom     bool
Hunting_acxiom                 bool
Underbanked_acxiom             int64
Economic Stability Indicator_acxiom int64
Population Density_acxiom      float64
Population 15+ - % Separated or Divorced_acxiom float64
Population 15+ - % Widowed_acxiom float64
Families - Average Size_acxiom float64
Family - Average Income (in hundreds of $US)_acxiom float64
Suppression - Deceased, Bankruptcy, TLJ - Highest_acxiom bool
Number of People (Total Population)_acxiom float64
Power Video Gamer_acxiom       int64
Occupation - Person_1_acxiom   bool
Occupation - Person_2_acxiom   bool
Occupation - Person_3_acxiom   bool
Occupation - Person_4_acxiom   bool
Occupation - Person_5_acxiom   bool
Occupation - Person_6_acxiom   bool
Occupation - Person_7_acxiom   bool
Occupation - Person_8_acxiom   bool
Occupation - Person_9_acxiom   bool
Occupation - Person_A_acxiom   bool
Occupation - Person_B_acxiom   bool
Occupation - Person_C_acxiom   bool
Occupation - Person_D_acxiom   bool
Occupation - Person_F_acxiom   bool
Occupation - Person_G_acxiom   bool
Occupation - Person_H_acxiom   bool
Occupation - Person_J_acxiom   bool
Occupation - Person_K_acxiom   bool
Occupation - Person_V_acxiom   bool
Occupation - Person_W_acxiom   bool
Occupation - Person_X_acxiom   bool
Occupation - Person_Y_acxiom   bool
Occupation - Person_Z_acxiom   bool
Generations in Household_1.0_acxiom bool
Generations in Household_2.0_acxiom bool
Generations in Household_3.0_acxiom bool
Marital Status in the Household - 100%_A_acxiom bool
Marital Status in the Household - 100%_B_acxiom bool
Marital Status in the Household - 100%_M_acxiom bool
Marital Status in the Household - 100%_S_acxiom bool
Presence of Children - 100%_N_acxiom bool
Presence of Children - 100%_Y_acxiom bool
Home Owner / Renter - 100%_O_acxiom bool
Home Owner / Renter - 100%_R_acxiom bool
VACANT_agr                     bool
NO STAT_agr                    bool
RESIDENTIAL_agr                bool
DEMO_VETERAN PRESENT IN HH_agr bool
MULTIPLE PROPERTIES COUNT_agr  float64
BANKRUPCY_agr                  bool
DUI_agr                        bool
SEX OFFENDER_agr               bool
DIGITAL FLAG_agr               bool
DEMO_TYPE OF DWELLING_M_agr    bool
DEMO_TYPE OF DWELLING_S_agr    bool
DEMO_ESTIMATED INCOME_A_agr    bool
DEMO_ESTIMATED INCOME_B_agr    bool
DEMO_ESTIMATED INCOME_C_agr    bool
DEMO_ESTIMATED INCOME_D_agr    bool
DEMO_ESTIMATED INCOME_E_agr    bool
DEMO_ESTIMATED INCOME_F_agr    bool
DEMO_ESTIMATED INCOME_U_agr    bool
DEMO_OWN OR RENT_O_agr         bool
DEMO_OWN OR RENT_R_agr         bool
DEMO_CHILDREN_N_agr            bool
DEMO_CHILDREN_Y_agr            bool
DEMO_MARITAL STATUS_A_agr      bool
DEMO_MARITAL STATUS_B_agr      bool
DEMO_MARITAL STATUS_M_agr      bool
DEMO_MARITAL STATUS_S_agr      bool
DEMO_EDUCATION LEVEL_A_agr     bool
DEMO_EDUCATION LEVEL_B_agr     bool
DEMO_EDUCATION LEVEL_C_agr     bool
DEMO_EDUCATION LEVEL_D_agr     bool
DEMO_CREDIT RATING_A_agr       bool
DEMO_CREDIT RATING_B_agr       bool
DEMO_CREDIT RATING_C_agr       bool
DEMO_CREDIT RATING_D_agr       bool
DEMO_CREDIT RATING_E_agr       bool
DEMO_CREDIT RATING_F_agr       bool
DEMO_CREDIT RATING_G_agr       bool
DEMO_CREDIT RATING_H_agr       bool
DEMO_CREDIT RATING_U_agr       bool
OWNER OCCUPIED STATUS_N_agr    bool
OWNER OCCUPIED STATUS_R_agr    bool
OWNER OCCUPIED STATUS_Y_agr    bool
OWNER STATUS TYPE_I_agr        bool
OWNER STATUS TYPE_O_agr        bool
OWNER STATUS TYPE_P_agr        bool
OWNER STATUS TYPE_T_agr        bool
PROPERTY TYPE DESC_A_agr       bool
PROPERTY TYPE DESC_C_agr       bool
PROPERTY TYPE DESC_R_agr       bool

In [15]:
# how many values are missing from this column 'DEMO_OWN OR RENT_O_agr'
data_to_model_v1['DEMO_OWN OR RENT_O_agr'].isnull().sum()

0

In [15]:
# write the data to a csv file
data_to_model_v1.to_csv('data/out/model_data_v1.csv', index=False)